/* scroll behavior */
html {
    scroll-behavior: smooth;
}
/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #D6EBF3;
    color: #013A63;
    line-height: 1.6;
}

/* Header Styles */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #B9D8E1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Navigation bar Styles */
nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #013A63;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #0077b6;
}

/* Main Content Styles */
main {
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

/* Section Styles */
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* lists */
ul {
    padding-left: 1.2rem;
}

li {
    margin-bottom: 0.75rem;
}



/* Portfolio Section Styles */
.project-featured {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #B9D8E1;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.project-featured h3 {
    margin-top: 0;
}

.project-list {
    list-style-type: none;
    padding-left: 0;
}

.project-list li {
    margin-bottom: 1rem;
    background-color: #B9D8E1;
    padding: 1rem;
    border-radius: 6px;
}

/*section styles */
section {
    scroll-margin-top: 100px;
    margin-bottom: 2rem;
}

/* Footer Styles */
footer {
    background-color: #B9D8E1;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #013A63;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #0077b6;
}

/* Project images */
.project-image {
    flex: 1 1 30%;
    text-align: center;

}

.project-image img {
    width: 100%;
    border-radius: 8px;
}

.full-width img {
    width: 100%;
}

.caption {
    font-size: 0.9em;
    color: #013A63;
    margin-top: 8px;
}


.padding {
    padding: 1.3rem;
}

.project-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.scroll-gallery {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 10px 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none;
}

.scroll-gallery::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}

.scroll-gallery img {
    height: 600px;
    width: auto;
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 10px;
}

.image-with-caption {
    flex-shrink: 0;
    text-align: center;
    width: 600px;
    scroll-snap-align: start;
}

.image-with-caption img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.mini-padding {
    padding: 0.5rem;
}

